@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ededed;
  --foreground: #171717;
  --primaryColor: #330099 ;
  --primaryColor_2: #2B0071 ;
  --secondaryColor: #CCCCCC ;
  --darkColor: #333333 ;
}

/* Customize the background color and progress bar of the toast */
.toast-container .Toastify__toast {
  background-color: var(--primaryColor_2);
  color: #fff;
}

.toast-container .Toastify__progress-bar {
  background-color: var(--secondaryColor);
}


