/* Leaflet Map Styling */
#map {
  height: 250px; /* Adjust to match layout requirements */
  width: 100%; /* Ensures map takes full width of its container */
  border-radius: 8px;
}

/* List Styling for Cities */
ul {
  padding: 0;
  margin: 0;
}

li {
  padding: 8px;
}

li span:first-child {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 6px;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  #map {
    height: 200px; /* Adjust map height for smaller screens */
  }
}
